.footer {
    background-color: var(--cor-de-contraste);
  }
  .footer .container .links-footer {
    margin-top: 7rem;
  }
  .footer .container .row .container-footer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 2rem;
  }
  
  .footer .container .row .container-footer h3 {
    padding: 1rem 0;
    font-size: 3rem;
    color: var(--cor-complementar-dois);
    font-family: var(--roboto);
    font-weight: bold;
  }
  
  .footer .container .row .container-footer ul li {
    padding: 1rem 0;
  }
  
  .footer .container .row .container-footer ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--cor-de-fundo);
    transition: 0.2s;
    font-family: var(--roboto);
  }
  
  /* === address-social === */
  .address-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .address-social span {
    padding: 2rem;
    border-radius: 50%;
    border: 0.1rem dashed var(--cor-de-fundo);
    margin-bottom: 0.5rem;
    animation: trocarColor 1s ease infinite;
    transition: 1s ease-in-out;
  }

  .address-social span i {
    font-size: 3rem;
    overflow: hidden;
    color: var(--cor-complementar-dois);
  }
  .address-social p {
    font-size: 2rem;
    color: var(--cor-de-fundo);
    font-family: var(--roboto);
  }

  .footer .container .row .container-footer ul li a i {
    margin-right: 0.2rem;
    overflow: hidden;
    font-size: 1.5rem;
  }
  .footer .container .row .container-footer ul li a:hover {
    color: var(--cor-complementar-um);
  }
  
  .footer .container .row  .copy {
    margin: 2rem 0;
    text-align: center;
  }
  
  .footer .container .row  .copy  span {
    color: rgb(161, 159, 159);
    font-size: 1.5rem;
    font-family: var(--roboto-slab);
    text-align: center;
  }

  @media screen and (max-width: 368px){
    .address-social p {
      font-size: 1.5rem;
    }
    .footer .container .row  .copy span{
      font-size: 1rem;
    }
  }