/*Formatação inicial*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  font-size: 62.5%;

  /* cores */
  --cor-destaque: #fffa65;
  --cor-de-fundo: #f5f6fa;
  --cor-de-contraste: #0c0c0a;
  --cor-complementar-um: #0984e3;
  --cor-complementar-dois: #e62a33;
  --cor-complementar-tres: #353b48;

  /* fontes */
  --lato: "Lato", sans-serif;
  --roboto: 'Roboto', sans-serif;
  --roboto-condensed: "Roboto Condensed", sans-serif;
  --roboto-mono: "Roboto Mono", monospace;
  --roboto-slab: "Roboto Slab", serif;
  --ubuntu: "Ubuntu", sans-serif;
}

.icon-top{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
  background-color: var(--cor-complementar-um);
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  color: var(--cor-de-fundo) !important;
  font-weight: bold;
  cursor: pointer;
  font-family: var(--roboto-slab);
  text-decoration: none !important;
}


