/*Formatação inicial*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  font-size: 62.5%;

  /* cores */
  --cor-destaque: #fffa65;
  --cor-de-fundo: #f5f6fa;
  --cor-de-contraste: #0c0c0a;
  --cor-complementar-um: #0984e3;
  --cor-complementar-dois: #e62a33;
  --cor-complementar-tres: #353b48;

  /* fontes */
  --lato: "Lato", sans-serif;
  --roboto-condensed: "Roboto Condensed", sans-serif;
  --roboto-mono: "Roboto Mono", monospace;
  --roboto-slab: "Roboto Slab", serif;
  --ubuntu: "Ubuntu", sans-serif;
}

.icon-top{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
  background-color: var(--cor-complementar-um);
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  color: var(--cor-de-fundo) !important;
  font-weight: bold;
  cursor: pointer;
  font-family: var(--roboto-slab);
  text-decoration: none !important;
}

.bg-projetos {
  background-color: var(--cor-de-contraste);
}
.bg-projetos .row {
  margin: 5rem 0;
}
.bg-projetos .card-body {
  text-align: center;
  padding: 2rem 1rem;
}

.bg-projetos .card-body h2 {
  margin-top: 1rem;
  color: var(--cor-complementar-um);
  font-weight: bold;
  font-family: var(--roboto-condensed);
}
.bg-projetos .card-body p {
  font-size: 1.5rem;
  font-family: var(--roboto-slab);
  color: var(--cor-complementar-tres);
  margin-bottom: 2rem;
}
.bg-projetos .card-body  a {
  border: 0.2rem solid var(--cor-complementar-um);
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: var(--cor-de-contraste);
  font-weight: bold;
  font-family: var(--lato);
  text-transform: uppercase;
  text-decoration: none !important;
  transition: all 1s ease-in-out;
  font-size: 1.5rem;
}
.bg-projetos .card-body  a:hover {
  background-color: var(--cor-complementar-um);
  color: var(--cor-de-fundo);
}

.card-img-overlay {
  opacity: 0;
  transition: all 1s ease-in-out;
}
.card-img-overlay:hover {
  background-color: var(--cor-de-fundo);
  opacity: 1;
}