.bg-1 {
  background: url(../img/bg-2.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 6rem);
}

.carousel-inner {
  display: flex;
  justify-content: left;
  align-items: center;
}
.cards-home {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-1 .carousel-item {
 overflow: hidden;
 text-align: center;
 height: 75%;
 transition: all 1.5s ease-in-out;
}
.bg-1 .carousel-item h1 {
  font-size: 5rem;
  font-family: var(--ubuntu);
  color: var(--cor-complementar-quatro);
  font-weight: bold;
  text-shadow: 0.1rem 0.1rem 0.1rem var(--cor-de-contraste);
}
.bg-1 .carousel-item hr {
  width: 15rem;
  height: 0.1rem;
  margin-top: -0.5rem;
  background-color: var(--cor-de-fundo);
  margin: auto;
  margin-bottom: 3rem;
}
.bg-1 .carousel-item p {
  width: 100%;
  margin: 0;
  color: var(--cor-de-fundo);
  font-family: var(--lato);
  text-shadow: 0.1rem 0.1rem 0.1rem var(--cor-de-contraste);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 4rem;
  text-align: center;
}
.bg-1 .banner a {
    color: var(--cor-de-fundo);
    padding: 1rem 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #6b1c20;
    box-shadow: 0 .5rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: .5s;
    text-align: center;
    font-weight: bold;
}
.bg-1 .banner a:hover  {
    background: var(--cor-complementar-quatro);
}

/*redes sociais*/
.redes-sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  text-align: center;
}
.redes-sociais .col-12 {
  margin-bottom: 0.3rem;
  padding: 2rem 0;
}
.redes-sociais a{
  width: 100%;
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem;
  height: 30%;
  background-color: var(--cor-complementar-tres);
  color: var(--cor-de-fundo);
  transition: 1s;
}
.redes-sociais a:hover{
  background-color: var(--cor-de-fundo);
  color: var(--cor-complementar-tres);
}

.redes-sociais .new-hr {
  margin-bottom: 0;
}



@media screen and (max-width: 768px) {
  .bg-1 .carousel-item h1 {
      padding-bottom: 1rem;
      font-size: 4rem;
  }
  .bg-1 .carousel-item .hr {
      margin-bottom: 1rem;
  }
  .bg-1 .carousel-item p {
    width: 100%;
    margin: 0;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 0 2rem;
  }
  .bg-1 .carousel-item {
    overflow: hidden;
    text-align: center;
    height: 75%;
   }
}


@media screen and (max-width: 360px) {
    .bg-1 .carousel-item h1 {
        padding-bottom: 1rem;
        font-size: 3rem;
    }
    .bg-1 .carousel-item hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
  .bg-1 .carousel-item p {
    width: 100%;
    margin: 0;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 0 2rem;
  }
  .bg-1 .carousel-item button {
    height: 4rem;
    width: 50%;
    font-size: 2rem;
    background-color: var(--cor-complementar-dois);
    color: var(--cor-de-fundo);
    text-transform: uppercase;
  }
  .bg-1 .carousel-item {
    overflow: hidden;
    text-align: center;
    height: 75%;
   }
}
